#header {
    height: 80px;
    
    display: flex;
    width: 100%;
    
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238, 174, 202, 0.348) 0%, rgba(148, 188, 233, 0.386) 100%);
    position: fixed;
    
  

    
  
    
  
   
     

  
    
    
   
  }

  /*
  .h-header{
    position: sticky;
    
    top: 0;
    width: 100%;
    
    
  }
*/




  /*Nav area css part*/
/*
  .n-header-nav{

    list-style-type: none;
    
  }
  .n-header-nav{
    display: flex;
    padding: 20px 20px;
    margin: 20px 20px;
  }

  .n-menu{
    padding: 10px 10px;
    margin: 20px 20px;
    
    align-items: start;
   
   
  }

 

  .n-Icon{
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
    width: 3.25rem;
    height: 3rem;
    display: none;
    
  

  }


  @media screen and (min-width: 800px) {

    .menu-button-r{
      display: none;
    }
    
  
  }


  @media screen and (max-width: 800px) {
    .n-header-nav{
      display: none;
    }
   
  }


 






 

    */

  


  /*Home area css part*/


  #home{
   
    width: 100%;
    height: 800px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 20px;
  

  
   
    
   

   
  }

  .home-all-data{
    align-items: center;
    justify-content: center;
    padding: 250px 100px;
    margin: 50px 50px;
    
  }

  .h-para-1{
    color: #494444;
    font-size: medium;
    font-weight: bolder;
  }

  .h-heading{
    color: #494444;
    font-size: 50px;
  }

  .h-para-2{
    font-size: smaller;
    color: #494444;
    align-items: center;
    padding: -10px 20px;
    
  }
  .h-heading > span{
    color: color-mix(in srgb, #fffffe 100%, rgb(26, 213, 30));
  }


  .home-data-2{
    padding: 30px 30px;
    
  }

  .h-button-contact{
    background-color: rgba(0, 0, 0, 0.393);
    width: 200px;
    height: 45px;
    color: #faf8f8; 
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border: none;
    margin: 20px 20px;
  


  }

  .h-button-contact:hover{
    border: 1px solid white;
    color: #ffffff;
    background-color: rgba(180, 128, 137, 0.775);
  }

@media screen and (max-width:920px) {

  .home-all-data{
    align-items: center;
    justify-content: center;
    padding: 250px 100px;
    margin: 50px 50px;
    
  }

  .h-para-1{
    color: #494444;
    font-size: small;
    font-weight: bolder;
  }

  .h-heading{
    color: #494444;
    font-size: 30px;
  }

  .h-para-2{
    font-size: x-small;
    color: #494444;
    align-items: center;
    padding: -10px 20px;
    
  }
  .h-heading > span{
    color: color-mix(in srgb, #fffffe 100%, rgb(26, 213, 30));
  }


  .home-data-2{
    padding: 30px 30px;
    
  }

  .h-button-contact{
    background-color: rgba(0, 0, 0, 0.393);
    width: 200px;
    height: 45px;
    color: #faf8f8; 
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border: none;
    margin: 20px 20px;
  


  }

  .h-button-contact:hover{
    border: 1px solid white;
    color: #ffffff;
    background-color: rgba(180, 128, 137, 0.775);
  }
  
}

@media screen and (max-width:375px) {

  .home-all-data{
    align-items: center;
    justify-content: center;
    padding: 250px 100px;
    margin: 50px 50px;
    
  }

  .h-para-1{
    color: #494444;
    font-size: x-small;
    font-weight: bolder;
  }

  .h-heading{
    color: #494444;
    font-size: 20px;
  }

  .h-para-2{
    font-size: 7px;
    color: #494444;
    align-items: center;
    padding: -10px 20px;
    
  }
  .h-heading > span{
    color: color-mix(in srgb, #fffffe 100%, rgb(26, 213, 30));
  }


  .home-data-2{
    padding: 30px 30px;
    
  }

  .h-button-contact{
    background-color: rgba(0, 0, 0, 0.393);
    width: 150px;
    height: 40px;
    color: #faf8f8; 
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border: none;
    margin: 20px 20px;
  


  }

  .h-button-contact:hover{
    border: 1px solid white;
    color: #ffffff;
    background-color: rgba(180, 128, 137, 0.775);
  }
  
}



 

/*
    About Css part   */



    
  #about{
    width: 100%;
    height: 800px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 20px;
   
    
  }

  .about-area{
    align-items: center;
    justify-content: center;
    text-align: center;
    

  }

  .about-heading-1{
    color:#494444;
    
    text-align: center;
    padding: 10px 10px;
  }

  .about-heading-2{
    color: #ffffff;
    font-size: xx-large;
  }
  .about-blocks{
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .about-block-1{
    padding: 20px 20px;
    margin: 20px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #f0e6e6;
    width: 300px;
    height: 200px;
    color: #494444;
    
    
  }
.about-blocks-icons{
  color: #494444;
  
  width: 40px;
  min-height: 50px;
  align-items: start;
  border-radius: 10px;

  
}
.about-blocks-icons:hover{
  color: rgb(186, 128, 128);
}

.about-button-eqr{

background-color: #494444;
color: white;
font-size:medium;
font-weight: bolder;
padding: 10px;
margin: 10px;
border-radius: 5px;
border: none;

}

.about-button-eqr:hover{
 
  border: 1px solid #494444;
  background-color: #ffffff;
  color: #494444;
  
}
    
    





  #service{
    width: 100%;
    height: 800px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 20px;
    margin-top: 10px;
  } 

/* Contact css part */

  #contact{
    width: 100%;
    height: 800px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 20px;
    margin-top: 10px;
   

   
  }

  .heading-contact{
    align-items: center;  
    justify-content: center;
    text-align: center;
    color: #ffffff;
    padding: 10px 10px;
  
  }
 .contact-form{

  padding: 20px 20px;
  margin: 20px 300px;
  background-color: #ffffff;
  border-radius: 30px;

 
  width: 50%;
  height:  500px;
  color: #494444;
  
  

 }

 .c-from-1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
 }

 .c-from-2{
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
 }

 .c-submit-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
 }

 .c-data-blk{
  

 }

 .c-labels{
  color: rgb(96, 157, 189);
 }



  /*Nabar area css*/



.nav-all-menu{
  display: flex;
  color: #faf8f8;
 
  list-style-type: none;
  align-items: center;
  justify-content: end;
  
 
}

.Nav-menu > a{
  text-decoration: none;
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #faf8f8;
}


.Nav-menu > a:hover{
  text-decoration: none;
  color: #cdb21d;
  border-bottom: 2px solid rgb(255, 183, 0);
 
}

.nav-header{
  display: flex;
 
  align-items: center;
  padding-left: 50%;
  justify-content: center;
  align-items: center;
  
  
 
}

.Nav-menu{
  
  margin: 20px 20px;
  
  align-items: start;
  
}


.nav-logo{
  
  color: #ffffff;
  position: absolute;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  padding: 5px 50px;
  align-items: center;
  border-radius: 10px;
 
  
}

.n-slider-menu{
  display: none;
  object-fit: cover;
}
.nav-all-menu-r{
  display: none;
 
  
}



@media screen and (max-width:945px) {
  .nav-header{
    display: flex;
   
    align-items: center;
    padding-left: 30%;
    justify-content: center;
    align-items: center;

    
  
  }

  

}

@media screen and (max-width:800px) {
  .nav-header{
    display: flex;
   
    align-items: center;
    padding-left: 25%;
    justify-content: center;
    align-items: center;
    
  
  }

  

}


@media screen and (max-width:720px) {

 
  
  .n-slider-menu{
    display: flex;
    color: #ffffff; 
    padding-left: 790px;
    position: fixed;
    
   
  
  }
  





  .nav-all-menu-r> li{
  
   
    list-style-type: none;
    color: #f0e6e6;
    padding: 7px 40px;
    margin: 5px 2px;
    background-color: rgba(120, 84, 84, 0.242);
    border: 2px;
    border-radius: 8px;
    
  }
 

  .Nav-menu-r> a{
    text-decoration: none;
 
    padding: 150px 150px;
    color: #f0e6e6;
    
    
    
   
  }
  .Nav-menu-r> a:hover{
    color: yellow;
  }


  .nav-all-menu-r{
    

    display: table-column;
    padding: 20px 40px;
    position: fixed;
    border-radius: 20px;
    
    
    

  
   
  
  }
  .Nav-menu-r > a{
    
    margin: 2px 2px;
    padding: 2px 100px;
   
   
    
   
    
   
    
  }

  .nav-all-menu{
    display: none;
  }
  

 

}


@media screen and (max-width:600px) {

  .n-slider-menu{
    display: flex;
    color: #ffffff; 
    padding-left: 600px;
    position: fixed;
    
   
  
  }
  





  .nav-all-menu-r> li{
  
   
    list-style-type: none;
    color: #f0e6e6;
    padding: 7px 30px;
    margin: 5px 2px;
    background-color: rgba(120, 84, 84, 0.242);
    border: 2px;
    border-radius: 8px;
    
  }
 

  .Nav-menu-r> a{
    text-decoration: none;
 
    padding: 100px 100px;
    color: #f0e6e6;
    
    
    
   
  }
  .Nav-menu-r> a:hover{
    color: yellow;
  }


  .nav-all-menu-r{
    

    display: table-column;
    padding: 20px 30px;
    position: fixed;
    border-radius: 20px;
    
    
    

  
   
  
  }
  .Nav-menu-r > a{
    
    margin: 2px 2px;
    padding: 2px 80px;
   
   
    
   
    
   
    
  }

  .nav-all-menu{
    display: none;
  }
  


}